@import "tailwindcss";

@theme {
  --color-offwhite: #F9FAFB;
  --color-brandblue: #2563EB;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@layer base {
  body {
    @apply antialiased text-zinc-900;
  }
}
